.Button {
  font-size: large;
  height: 36px;
  padding: 2px 12px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);;
  background-image: linear-gradient(to bottom, #336a88, #2a5871);
  margin-right: 6px;
}

.Button:hover {
  background-image: linear-gradient(to bottom, #22475b, #183240);
}

.Button--red {
  background-image: linear-gradient(to bottom, #e93031, #b72626);
}

.Button--red:hover {
  background-image: linear-gradient(to bottom, #ff3435, #d52b2b);
}
