.Status--connected::before,
.Status--offline::before,
.Status--syncing::before {
  content: "•";
  margin-right: 5px;
  transition: color 0.2s ease;
}

.Status--connected::before {
  color: #00cc68;
}

.Status--syncing::before {
  color: #ff9000;
}

.Status--offline {
  color: #ff0060;
}

.Status--offline::before {
  color: #ff0060;
}

.Status i.icon {
  margin: 0 0 0 0.2em;
}
