.SavedReports__new {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;
}

.SavedReports__new input {
  min-width: 300px;
}

.SavedReports__new .ui.button {
  margin: 0;
}

.SavedReports__report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}
