.ProjectList__level-3 .ProjectList__spacer {
  width: 20px;
}

.ProjectList__level-4 .ProjectList__spacer {
  width: 40px;
}

.ProjectList__level-5 .ProjectList__spacer {
  width: 60px;
}

.ProjectList__item-container {
  display: flex;
  align-items: center;
}

.ProjectList__level-1 .ProjectList__item-container > .icon {
  display: none;
}

.ProjectList--empty {
  font-size: 1.3em;
  margin: 2em 0;
}

.ProjectList__item--archived {
  opacity: 0.5;
}
