.DateRange {
  margin: 0 0 24px 0;
}

.DateRange__item {
  font-size: large;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0 12px 0 0;
}

.DateRange__item--selected, .DateRange__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
