.App a {
  color: #00ac00;
}

.App__header {
  background-color: #222;
  text-align: center;
  padding: 20px;
  color: white;
}

.App__title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__title img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.App__container {
  font-size: large;
  padding: 15px;
}

.App__menu {
  padding: 0;
}

.App .App__menu-item {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.App .App__menu-item--active {
  text-decoration: underline;
}
