.page.modals.visible.transition {
  display: flex !important;
}

body {
  height: auto;
}

.App .pushable,
.App .pusher {
  min-height: 100vh;
}

.ui.menu .item.App-Title {
  width: calc(100% - 53px);
  justify-content: center;
  padding: 0.92857143em 53px 0.92857143em 0;
}

.ui.menu .item.App-Title::before {
  display: none;
}

.App__Container {
  margin-top: 5em;
  margin-bottom: 2em;
}

.Msg-Error,
.Msg-Warn {
  color: #9f3a38;
  display: block;
  margin: 4px 0;
}
