@media print {
  .top.menu,
  .SavedReports,
  .ReportRange__Presets,
  .accordion .title,
  .Reports h1,
  .Reports > .grid:first-child,
  .Reports .Insights,
  .App .Report__filters {
    display: none !important;
  }

  .App__Container {
    margin: 0;
  }

  .ReportRange__Input input {
    width: auto;
    border: 0;
  }

  .ReportDetailed__toggle,
  .ui.popup,
  .ui.dropdown {
    display: none !important;
  }
}
