.AddNew {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1% 1.5rem 1%;
  box-shadow: 0 8px 12px 0 rgba(100, 100, 100, 0.06);
}

.AddNew__Date,
.AddNew__Notes,
.AddNew__Time {
  display: block;
}

.AddNew__TimeSeparator {
  margin: 0 0.5rem;
  padding-bottom: 2px;
}

.AddNew__TimeInput {
  display: inline-block;
  margin: 0 0.5rem;
}

.AddNew__Duration,
.AddNew__Time,
.AddNew__Date {
  margin-right: 1rem;
}

.AddNew__Notes .ui.input {
  width: 100%;
}

.AddNew__Notes {
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.AddNew__Project {
  margin-left: 2rem;
}

.AddNew__Actions {
  margin-left: 1rem;
}

.AddNew__Duration {
  font-size: 1.6rem;
}

.AddNew .ui.input input {
  border: 0;
  padding: 0.4em 0 !important;
  border-top: 2px solid transparent;
  border-bottom: 2px dotted rgba(34, 36, 38, 0.1) !important;
}

.AddNew--tracking .ui.selection.dropdown {
  border-color: rgba(33, 133, 208, 0.5) !important;
}

.AddNew--tracking .ui.input input {
  border-bottom-color: rgba(33, 133, 208, 0.5) !important;
}
