.Entry--tracking .ui.input input,
.TableRow--tracking .ui.input input,
.Entry--tracking .ui.selection.dropdown,
.TableRow--tracking .ui.selection.dropdown {
  border-color: #85b7d9;
}

.Entry {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.Entry:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ui.form .fields.EntryDurationContainer {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.EntryDurationContainer label {
  font-weight: bold;
  width: 50px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.Entry .ui.selection.dropdown {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.Entry .ui.buttons {
  display: flex;
  margin-top: 1rem;
}

.Entry .EntryDuration {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}
