.ListEntry {
  display: flex;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding: 0.5rem 0;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.ListEntry:hover {
  background: #fafafa;
}

.ListEntry__Project,
.ListEntry__Notes {
  margin-right: 0.5rem;
}

.ListEntry__NotesEmpty {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.ListEntry__Time {
  color: rgba(0, 0, 0, 0.5);
}

.ListEntry__TimeSeparator {
  margin: 0 0.3rem;
}

.ListEntry__Duration,
.ListEntry__DateValue {
  margin-right: 0.5rem;
}

.ListEntry__Duration {
  margin-left: auto;
}

.ListEntry__ProjectNotes {
  margin: 0.5rem 0;
}

.ListEntry__ProjectNotes,
.ListEntry__TimeDuration {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 0.5rem;
}

.ListEntry__TimeDuration {
  padding-right: 0;
}

.ListEntry__Actions {
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.ListEntry__Actions .ui.button {
  box-shadow: none;
  margin: 0;
}

.ListEntry__Actions:hover .ui.button {
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
}

@media screen and (min-width: 768px) {
  .ListEntry {
    flex-direction: row;
  }

  .ListEntry__TimeDuration {
    margin-left: auto;
    width: auto;
  }

  .ListEntry__ProjectNotes {
    margin: 0;
  }

  .ListEntry__Duration {
    margin-left: 0.5rem;
    min-width: 50px;
    text-align: right;
  }

  .ListEntry__Actions {
    margin: 0;
  }
}
