.Account__Submit-Bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui.form .Account__Submit-Bar .field,
.Account__Submit-Bar .button.basic {
  margin: 0;
}

.Account-PopUp {
  overflow: hidden;
  display: flex;
  width: 300px;
}

.Login, .Register {
  width: 100%;
  height: 0;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.Login--visible,
.Register--visible {
  height: auto;
}

.Login {
  transform: translateX(-100%);
}

.Login--visible {
  transform: none;
}

.Register {
  transition: transform 0.2s ease;
}

.Register--visible {
  transform: translateX(-100%);
}
