.Reports__LoadItem .ui.button {
  border: 0;
  box-shadow: none;
  text-align: left;
}

.ui.modal > .content.Reports__LoadTable {
  max-height: 348px;
  overflow: auto;
  padding: 0;
}

.Reports__LoadTable .ui.vertical.menu {
  width: 100%;
}

.Reports__LoadTable .ui.vertical.menu .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
