.SavedReports__new {
  margin: 2em 0 0 0;
}

.SavedReports__new::after {
  content: "";
  display: table;
  clear: both;
}

.SavedReports__new .ui.button {
  margin: 10px 0 0 0;
  float: right;
}

.SavedReports__new .ui.input {
  width: 100%;
}

.SavedReports__report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

@media (min-width: 500px) {
  .SavedReports__new {
    display: flex;
    justify-content: flex-end;
  }

  .SavedReports__new .ui.button {
    margin: 0;
  }

  .SavedReports__new .ui.input {
    max-width: 300px;
  }
}
