.ReportDetailed__toggle {
  margin: 2em 0 1em;
  display: flex;
  justify-content: space-between;
}

@media only screen {
  .ReportDetailed {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ReportDetailed {
    display: block;
  }
}
