.Report__filters {
  display: block;
  line-height: 1.2em;
}

.Report__filters .ui.vertical.menu {
  width: 100%;
}

.Report__filters-label {
  margin-right: 12px;
  opacity: 0.6;
}

.Report__filters .ui.toggle.checkbox {
  display: block;
}

.Report__filters .ui.toggle.checkbox label {
  padding: 13px 16px 13px 82px;
  display: block;
}

.Report__filters .ui.toggle.checkbox label::after,
.Report__filters .ui.toggle.checkbox label::before {
  margin: 13px 16px;
}

.Report__filters .menu > .item:not(.header) {
  padding: 0;
}

.Report__filters .ui.vertical.menu button {
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
}

.Report__filters .ui.vertical.menu button:focus {
  outline: rgba(34, 36, 38, 0.15) solid 1px;
}

.Report__filters .ui.vertical.menu button i {
  transition: transform 0.2s ease;
}

.Report__filters .ui.vertical.menu button i.isVisible {
  transform: rotate(90deg);
}
