.Notifier {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4.5em;
  width: 100%;
  padding: 0 2em;
  z-index: 100;
  pointer-events: none;
}

.Notifier .message {
  cursor: pointer;
  pointer-events: auto;
}
