.ProjectList__header {
  text-align: left;
}

.ProjectList__input {
  font-size: large;
  margin-right: 12px;
  height: 30px;
}

.ProjectList__level-2 {
  padding-left: 30px;
}

.ProjectList__level-3 {
  padding-left: 60px;
}

.ProjectList__level-4 {
  padding-left: 90px;
}

.ProjectList__level-5 {
  padding-left: 120px;
}

.ProjectList .Select {
  min-width: 200px;
  margin-right: 12px;
}

.ProjectList__button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
}

.ProjectList__button-image {
  max-width: 100%;
}
