.ProjectList__level-2 .ui.input input {
  margin-left: 30px;
}

.ProjectList__level-3 .ui.input input {
  padding-left: 60px;
}

.ProjectList__level-4 .ui.input input {
  padding-left: 90px;
}

.ProjectList__level-5 .ui.input input {
  padding-left: 120px;
}

.ProjectList .Select {
  min-width: 200px;
  margin-right: 12px;
}

.ProjectList__button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
}

.ProjectList__button-image {
  max-width: 100%;
}
