.ProjectList__level-2 .ui.input input {
  margin-left: 30px;
}

.ProjectList__level-3 .ui.input input {
  margin-left: 60px;
}

.ProjectList__level-4 .ui.input input {
  margin-left: 90px;
}

.ProjectList__level-5 .ui.input input {
  margin-left: 120px;
}

.ProjectList .Select {
  min-width: 200px;
  margin-right: 12px;
}
