.ReportTable__level-2 {
  padding-left: 20px;
  opacity: 0.8;
}

.ReportTable__level-3 {
  padding-left: 40px;
}

.ReportTable__level-4 {
  padding-left: 60px;
}

.ReportTable__level-5 {
  padding-left: 80px;
}
